<template name="ListBuyOffer">
  {{#IfLoggedIn}}
    <table class="table table-striped" style="background-color: white;">
      <thead>
      <tr>
       <!-- <th>Title</th> -->
        <th>Book</th>
        <th>Condition</th>
        <th>Offer</th>
        <th>Expiration</th>
        <th>User</th>
      </tr>
      </thead>

      <tbody>
      {{#each buyOfferList}}
      <tr>
       <!--  <td>{{title}}</td> -->
        <td>{{book}}</td>
        <td>{{condition}}</td>
        <td>{{offer}}</td>
        <td>{{expirationDate}}</td>
        <td>{{studentID}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  {{/IfLoggedIn}}
</template>
